@font-face {
  font-family: 'Cambria';
  src: url('../../fonts/Cambria-Bold.eot');
  src: url('../../fonts/Cambria-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Cambria-Bold.woff2') format('woff2'),
  url('../../fonts/Cambria-Bold.woff') format('woff'),
  url('../../fonts/Cambria-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cambria';
  src: url('../../fonts/Cambria.eot');
  src: url('../../fonts/Cambria.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Cambria.woff2') format('woff2'),
  url('../../fonts/Cambria.woff') format('woff'),
  url('../../fonts/Cambria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Arial';
  src: url('../../fonts/ArialMT.eot');
  src: url('../../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/ArialMT.woff2') format('woff2'),
  url('../../fonts/ArialMT.woff') format('woff'),
  url('../../fonts/ArialMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

