@media only screen and (min-width: 1400px)  {
  .banner {
    background-size: cover;
  }
}

@media only screen and (max-width: 1025px)  {
  .banner__content-info {
    margin-top: 130px;
  }
  .logo, .terms {
    bottom: 14px;
  }
}

@media only screen and (max-width: 820px)  {
  .container {
    padding: 0 20px;
  }
  .title, .copy-code {
    margin: 0 0 20px;
  }
  h1 {
    font-size: 75px;
  }
  h2 {
    font-size: 25px;
  }
  .copy-code {
    max-width: 215px;
  }
  .copy-code__text label {
    font-size: 14px;
  }
  .copy-code__action a {
    font-size: 9px;
    padding: 14px 16px;
  }
  .copy-code__text {
    padding: 10px 20px;
  }
  .wrap {
    padding: 10px 0;
  }
  .button-submit {
    padding: 0;
    button {
      max-width: 215px;
      padding: 12px;
    }
  }
  .logo {
    left: 25px;
    img {
      max-width: 45%;
    }
  }
  .terms {
    right: 25px;
    p {
      font-size: 9px;
    }
  }
}

@media only screen and (max-width: 680px) {
  .banner__content-info {
    margin-top: 65px;
    padding: 0;
  }
}

@media only screen and (max-width: 600px) {
  .banner__content-info {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 500px)  {
  .banner__content {
    flex-direction: column-reverse;
  }
  .banner__content-withcer, .banner__content-info {
    max-width: unset;
  }
  .banner__content-info {
    margin-top: 20px;
    .title {
      text-align: center;
    }
  }
  .wrap {
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    padding: 9px 0;
  }
  .copy-code, .button-submit button {
    margin: 0 auto 20px;
  }
  .terms {
    right: -40px;
    transform: translate(0, -55px) rotate(-90deg);
  }
  .logo img {
    max-width: 32%;
  }
}
