$shadow: 0 0 20px 3px rgba(0,0,0,.15) ;
$cambria : "Cambria", sans-serif;
$cambriaM : "Cambria Math", sans-serif;
$arial : "Arial", sans-serif;

$imagePath : '../img/';

$witcherColor: #F73427;
$mainColor: #fff;
