
@keyframes slideInTop {

  from {
    top: -50px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1 ;
  }
}
@keyframes slideInRight {
  from {
    margin-left: 1000px;
    width: 100%;
    opacity: 0;
  }

  to {
    margin-left: 0;
    opacity: 1;
    width: 100%;
  }
}

