@import "../../../../../src/style/_partials/vars";


.copy-btn {
  padding: 16px 42px;
  box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
  background: transparent;
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: .08em;
  text-transform: uppercase;
  position: relative;
  transition: background-color .6s ease;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%,-50%,0);
    background: rgba(white,.1);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease;
  }
  &:focus,
  &:hover {
    background: $witcherColor;
  }
  &:active {
    &:after {
      width: 200px;
      height: 200px;
    }
  }
}
.wrap {
  position: relative;
  overflow: hidden;
  padding: 19px 0;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}


.play {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 40px;
  color: $witcherColor;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  line-height: 1;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.004);
  letter-spacing: 1px;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

.inset {
  border-color: $witcherColor;
  color: #fff;
  box-shadow: 0 0 40px 40px $witcherColor inset, 0 0 0 0 $witcherColor;
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 $witcherColor inset, 0 0 10px 4px $witcherColor;
  }
}


//.button {
//  position: relative;
//  background-color: transparent;
//  border: none;
//  -webkit-transition-duration: 0.4s; /* Safari */
//  transition-duration: 0.4s;
//  overflow: hidden;
//}
//
//.button:after {
//  content: "";
//  background: $witcherColor;
//  display: block;
//  position: absolute;
//  padding-top: 300%;
//  padding-left: 350%;
//  margin-left: -20px!important;
//  margin-top: -120%;
//  opacity: 0;
//  transition: all 0.8s;
//  border-top-right-radius: 40px;
//  border-bottom-right-radius: 40px;
//}
//
//.button:active:after {
//  padding: 0;
//  margin: 0;
//  opacity: 1;
//  transition: 0s
//}
