@import "../../node_modules/reset-css/reset.css";
@import "_partials/fonts";
@import "_partials/animations";
@import "_partials/vars";
@import "_partials/button";


*{
  box-sizing: border-box;
}
button, input, select{
  outline: none;
}
html{
  height:100%;
}

body {
  color: $mainColor;
  font-family: $cambria;
}

a{
  text-decoration: none;
  cursor: pointer;
}

@mixin font($font, $font-size, $weight) {
  font-family: $font;
  font-size: $font-size;
  font-weight: $weight;
}
@mixin max-width($width) {
  max-width: $width;
  width: 100%;
}

.banner {
  background: url('../img/bg.png') no-repeat center center;
  background-size: unset;
  position: relative;
}
.container {
  @include max-width(1310px);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.banner__content  {
  display: flex;
  justify-content: space-between;
}


.banner__content-withcer {
  @include max-width(55%);
  position: relative;
  .main-img img {
    width: 100%;
    position: relative;
    z-index: 10;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  img.back {
    z-index: 5;
  }
  img.front {
    z-index: 15;
  }
}

.banner__content-info {
  @include max-width(45%);
  margin-top: 170px;
  padding-left: 35px;
}
.title {
  @include max-width(400px);
  margin: 0 0 35px;
}
h1 {
  @include font($cambria, 148px, bold);
  text-shadow: 0 16px 24px rgba(0, 0, 0, 0.004);
  margin: 0;
  padding: 0;
  opacity: 0;
  animation: slideInRight 2s ease-in-out 2.5s forwards;
}
h2 {
  @include font($cambria, 48px, bold);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  opacity: 0;
  animation: slideInTop .5s ease 2s forwards;
}

.copy-code {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include max-width(328px);
  border: 1px solid #fff;
  border-radius: 40px;
  margin: 0 0 40px 42px;
}
.copy-code__text {
  padding: 12px 20px;
  border-right: 1px solid #fff;
  label {
    @include font($arial, 29px, normal);
    color: $witcherColor;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: transparent;
    border: none;
    max-width: 150px;
  }
  input {
    position: absolute;
    right: -10000px;
  }
}
.copy-code__action {
  margin: 0 auto;
  letter-spacing: 1px;
  a {
    @include font($arial, 13px, normal);
    text-transform: uppercase;
    padding: 19px 24px;
  }
  //.hvr-curl-bottom-left {
  //  backface-visibility: hidden;
  //  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  //  display: inline-block;
  //  position: relative;
  //  transform: translateZ(0px);
  //  vertical-align: middle;
  //}
  //.hvr-curl-bottom-left::before {
  //  background: rgba(0, 0, 0, 0) linear-gradient(45deg, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%) repeat scroll 0 0;  /*display smooth transitions between two or more specified colors */
  //  bottom: 0;
  //  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.4);
  //  content: "";
  //  height: 0;
  //  left: 0;
  //  pointer-events: none;
  //  position: absolute;
  //  transition-duration: 0.3s;/* time duration */
  //  transition-property: width, height;
  //  width: 0;
  //}
  //.hvr-curl-bottom-left:hover::before, .hvr-curl-bottom-left:focus::before, .hvr-curl-bottom-left:active::before {
  //  height: 20px;
  //  width: 20px;
  //}
}

.button-submit {
  padding-left: 78px;
  button {
    @include font($arial, 13px, bold);
    @include max-width(250px);
    span {
      margin: 0 auto;
    }
  }
}

.logo {
  position: absolute;
  bottom: 35px;
  left: 50px;
  img {
    @include max-width(70%);
  }
}

.terms {
  position: absolute;
  bottom: 38px;
  right: 50px;
  p {
    @include font($arial, 12px, normal);
    color: #454545;
  }
}









@import "_partials/media";
